<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="ion-margin-top center-container">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  <ion-list>
    <ion-item>
      <ion-select label="Rol" label-placement="floating">
        <ion-select-option value="ADMIN">Administrador</ion-select-option>
        <ion-select-option value="USER">Usuario</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  </ion-list>

  <ion-button
    expand="full"
    fill="outline"
    size="default"
    shape="round"
    class="ion-margin-top"
    >Registrar</ion-button
  >
</ion-content>
